
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<springProperty name="SLACK_WEBHOOK_URI" source="logging.slack.webhook-uri"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
<!--		<target>System.out</target>-->
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>${CONSOLE_LOG_CHARSET}</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/logs/client/stdout.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="STDERR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
<!--		<target>System.err</target>-->`
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>${CONSOLE_LOG_CHARSET}</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/logs/client/stderr.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
	</appender>

	<!-- slack-->



	<appender name="LOCAL_OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--		<target>System.out</target>-->
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>${CONSOLE_LOG_CHARSET}</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./stdout.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="LOCAL_OUT_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="LOCAL_OUT" />
	</appender>

	<appender name="LOCAL_ERR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<!--		<target>System.err</target>-->
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>${CONSOLE_LOG_CHARSET}</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./stderr.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
	</appender>
	<appender name="LOCAL_ERR_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="LOCAL_ERR" />
	</appender>

	<springProfile name="prod">
		<logger name="com.jinheung.project" level="INFO" additivity="true">
			<appender-ref ref="STDOUT" />
		</logger>
		<root level="INFO">
			<appender-ref ref="STDERR" />
		</root>

	</springProfile>


	<springProfile name="local">

		<logger name="com.jinheung.project" level="INFO" additivity="true">
			<appender-ref ref="LOCAL_OUT_ASYNC" />
		</logger>
		<root level="INFO">
			<appender-ref ref="LOCAL_ERR_ASYNC" />
			<appender-ref ref="CONSOLE"/>
		</root>

	</springProfile>

	<springProfile name="develop">
		<logger name="com.jinheung.project" level="INFO" additivity="true">
			<appender-ref ref="STDOUT" />
		</logger>
		<root level="INFO">
			<appender-ref ref="STDERR" />
		</root>
	</springProfile>
</configuration>
